.env
smart_learning_assistant.db

backend/venv/
backend/__pycache__/
backend/*.pyc

frontend/node_modules/
frontend/dist/

uploads/*
!uploads/.gitkeep

faiss_indexes/*
!faiss_indexes/.gitkeep

.DS_Store
Thumbs.db
screen_shots/
